@font-face {

    font-family: "PT Magistral Cyrillic";
    
    src: url("fonts/MagistralC.eot") format("eot"), 
    
    url("fonts/MagistralC.woff") format("woff"),
    
    url("fonts/MagistralC.woff2") format("woff2"), 
    
    url("fonts/MagistralC.ttf") format("truetype");
    
}

h1 {
    margin: 1em 0 0.5em 0;
    padding-top: 35px;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}

h2 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

h3 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'PT Magistral Cyrillic', sans-serif;
}

.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.rounded a:hover {background: #E9E4E0;}

.rounded a:hover:before {transform: rotate(360deg);}

.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.container-3 a {
    position: relative;
    text-decoration: none;
    color: #337AB7;
    display: inline-block;
}

.container-3 a::before,
.container-3 a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: -4px;
    top: 0;
    width: calc(100% + 8px);
    height: 100%;
    border-style: solid;
    border-color: #337AB7;
    box-sizing: border-box;
}

.container-3 a::before {
    border-width: 1px 0 1px 0;
    transform: scaleX(0);
}

.container-3 a::after {
    border-width: 0 1px 0 1px;
    transform: scaleY(0);
}

.container-3 a:hover::before,
.container-3 a:hover::after {
    transform: scale(1, 1);
}

.canvas-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: hsla(280, 95%, 5%, 1);
    max-height: 300px;
}

canvas {
    display: block;  
}

.embeded * {
    margin: 10px auto;
}